<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MonikAI.MonikaiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MonikAI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MonikAI.MonikaiSettings>
            <setting name="LastStarted" serializeAs="String">
                <value>2018-01-01</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
	        <setting name="NickName" serializeAs="String">
		        <value />
	        </setting>
            <setting name="PotatoPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Screen" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftAlign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeySettings" serializeAs="String">
                <value>CTRL-SHIFT-F10</value>
            </setting>
            <setting name="HotkeyHide" serializeAs="String">
                <value>CTRL-SHIFT-F11</value>
            </setting>
            <setting name="HotkeyExit" serializeAs="String">
                <value>CTRL-SHIFT-F12</value>
            </setting>
            <setting name="IsColdShutdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUpdateConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="ScaleModifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DpiWorkaround" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTimeWithUpdater" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IdleWait" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="ManualPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManualPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManualPositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoStartTask" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
        </MonikAI.MonikaiSettings>
        <MonikAI.Settings>
            <setting name="LastStarted" serializeAs="String">
                <value />
            </setting>
        </MonikAI.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
