<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonikAI.MonikaiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MonikAI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MonikAI.MonikaiSettings>
            <setting name="LastStarted" serializeAs="String">
                <value>2018-01-01</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="PotatoPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Screen" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LeftAlign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeySettings" serializeAs="String">
                <value>CTRL-SHIFT-F10</value>
            </setting>
            <setting name="HotkeyHide" serializeAs="String">
                <value>CTRL-SHIFT-F11</value>
            </setting>
            <setting name="HotkeyExit" serializeAs="String">
                <value>CTRL-SHIFT-F12</value>
            </setting>
            <setting name="IsForcedShutdown" serializeAs="String">
            <setting name="GithubReleaseId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="GithubMasterSHA" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </MonikAI.MonikaiSettings>
        <MonikAI.Settings>
            <setting name="LastStarted" serializeAs="String">
                <value />
            </setting>
        </MonikAI.Settings>
    </userSettings>
</configuration>
